@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fffaf2;
    color: #111111;
}

#wrap > div {
    font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
    margin: 0 50px;
    height: 100vh;
}

/* 공통사항 */
#wrap { overflow: hidden;}

#page01, #page03, #page04 {
    overflow: hidden;
}

h1, h2, h4 { 
    font-family: 'Cafe24ClassicType-Regular', 'Pretendard-Regular', 'Noto Sans KR'; 
    overflow: hidden;
}

h2 { 
    display: inline-block;
    font-size: 60px;
    padding: 10px 8px 2px;
    position: relative;
}

h2::before { top: 0; }

h2::after { bottom: 0; }

h2::after, h2::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #151314;
    transform: scaleX(0);
}

span { display: block; }

h1 > span, h2 > span {
    display: block;
    transform: translateY(100%);
}

strong { font-weight: 600;}


/* nav */
nav {
    position: fixed;
    top: 0px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: calc(100% - 100px);
    height: 60px;
    background-color: #fffaf2;
    z-index: 100;
    box-sizing: border-box;
    border-bottom: 1px solid #151314;
    cursor: default;
}

nav::before {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid #151314;
    top: 106%;
    width: 100%;
    height: 1px;
}

nav > h4 {
    font-size: 28px;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -30%);
}

nav > h5 {
    font-size: 20px;
}

nav > div { 
    display: flex;
    align-items: center;
    gap: 40px; 
}

.menu { 
    display: flex;
    align-items: center;
    gap: 20px; 
    font-size: 20px;
    padding-top: 2px;
}

.menu > li > a::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: #151314;
    transition: width 0.2s ease-in-out;
    opacity: 1;
}

.menu > li > a:hover::after {
    width: 100%;
}

.menu.collapsed > li > a::after {
    opacity: 0;
}

.menu > li > a > span { transition: all .2s ease-in-out; }

/* 닫기 */
.menu.close > li > a > span {
    transform: translateX(30px);
    opacity: 0;
    transition: all .2s ease-in-out;
}
.menu.close > li > a { cursor: default; }

.gnb-menu { 
    display: flex;
    align-items: center;
    gap: 20px; 
    font-size: 23px;
    line-height: 60px;
}

.gnb-menu > span {
    display: block;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.gnb-menu > div:hover {
    opacity: 1;
}

.gnb-menu > div {
    position: relative;
    cursor: pointer;
    overflow: visible;
    width: 28px;
    height: 28px;
    margin-bottom: 2px;
    opacity: 0.8;
}

.gnb-menu > div > span {
    position: absolute;
    display: block;

    width: 100%;
    height: 3px;
    background: #151314;
    border: 0;
    border-radius: 2px;
    top: 50%;
    transition: all .35s ease;
}

/* 햄버거 */
.gnb-menu > div.close > span:nth-of-type(1) { transform: translateY(-10px) rotate(0); }

.gnb-menu > div.close > span:nth-of-type(2) { opacity: 1; }

.gnb-menu > div.close > span:nth-of-type(3) { transform: translateY(10px) rotate(0); }

/* X */
.gnb-menu > div > span:nth-of-type(1) { transform: rotate(45deg); }

.gnb-menu > div > span:nth-of-type(2) { opacity: 0; }

.gnb-menu > div > span:nth-of-type(3) { transform: rotate(-45deg); }


/* page01 */
/* header */
header { 
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 100px;
    padding-bottom: 25px;
    border-bottom: 1px solid #151314;
    position: relative;
}

header::before {
    content: ""; 
    display: block;

    position: absolute;
    border-bottom: 1px solid #151314;
    top: 102%;
    width: 100%;
    height: 1px;
}

header > div { flex: 1; }

header > div > p { 
    overflow: hidden;
    font-size: 22px; 
    line-height: 1.3;
}

header > div > p > span {
    transform: translateY(100%);
}

header > div:nth-of-type(2) {
    flex: 2;
    text-align: center;
    border-left: 1px solid #151314;
    border-right: 1px solid #151314;
}

header > div > h1 {
    margin-top: 10px;
    font-size: 120px;
}

header > div > h3 {
    overflow: hidden;
    font-size: 24px; 
}

header > div > h3 > span {
    transform: translateY(100%);
}

header > div:nth-of-type(3) { text-align: right; }


/* about */ 
.about {
    height: calc(100vh - 280px);
    
    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 30px;
    text-wrap: nowrap;
}

.about > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    row-gap: 20px;
}


.about > div > img {
    opacity: 0;
    transform: translateY(50px); 
    width: 300px; 
    max-width: none;
    clip-path: polygon(
        2% 0%, 98% 0%,
        100% 2%, 100% 98%,
        98% 100%, 2% 100%,
        0% 98%, 0% 2% 
      );
    
      border: 1px solid #151314;
      padding: 5px;

      box-shadow: 1px 2px 29px rgba(0, 0, 0, 0.1);

}

.aboutlist {
    flex: 0.75;
    
    font-size: 24px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px 40px;
    margin-top: 150px;

    position: relative;
}

.aboutlist > li { 
    border-bottom: 1px solid #151314; 
    line-height: 38px;
    overflow: hidden;
}

.aboutlist > li:first-child {
    position: absolute;
    width: 100%;
    top: -44px;
}

.aboutlist span { transform: translateY(100%); }

.aboutlist-flex > span { line-height: 38px; }

.aboutlist-flex > ul > li { 
    line-height: 38px; 
    overflow: hidden;
}

.aboutlist-flex { 
    display: flex; 
    gap: 7px;
}

.aboutlist-flex > div {
    height: 30px;
    overflow: hidden;
}

/* header_움직임 */
.active > header > div span {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

/* about_움직임 */
.active > .about > div > h2 > span {
    transform: translateY(0);
    transition: all .3s ease-in-out .4s;
}

.active > .about > div > h2::before, .active > .about > div > h2::after {
    transform: scale(1);
    transition: all .4s ease-in-out .4s;
}

.active > .about > div > img {
    opacity: 1;    
    transform: translateY(0);
    transition: all .3s ease-in-out .4s;
}

.active > .about > .aboutlist > li > span {
    transform: translateY(0);
    transition: all .3s ease-in-out .4s;
}

.active > .about > .aboutlist > .aboutlist-flex span {
    transform: translateY(0);
    transition: all .3s ease-in-out .4s;
}


/* page02 */
#page02 {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: visible;
}

/* overlay */
.design-overlay {
    z-index: 99;
    position: absolute;
    top: 0;
    left: -50px;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-close {
    position: fixed;
    top: 90px;
    right: 600px;
    width: 50px;
    height: 50px;
    background: url(../img/x.png) no-repeat;
    background-position: center;
    background-size: contain;
}

.design-overlay > img {
    height: 500px;
}

/* design */
.design-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 40px;
}

.design-container > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    row-gap: 15px;
    column-gap: 15px;
    flex-wrap: wrap;
}

.design {
    display: flex;
    flex-direction: column;
    border: 1px solid #151314;
    overflow: hidden;
}

.design:nth-of-type(2) { 
    width: 750px; 
}

.design:nth-child(3) {
    width: 1290px;
}

.design > ul { 
    display: flex;
    box-shadow: 1px 2px 29px rgba(0, 0, 0, 0.1);

}

.design:nth-of-type(2) > ul { width: 1000px; }

.design:nth-of-type(3) > ul { width: 1720px; }

.design > ul > li {
    border-left: 1px solid #151314;
    overflow: hidden;
}

.design > ul > li:first-child {
    border-left: none;
}

.design > ul > li > a {  transition: all .3s ease-in-out; }

.design > ul > li > a > img {
    display: block;
    padding: 10px;
    height: 250px;
    max-width: none;
    object-fit: cover;

    transform: translateY(30px);
    opacity: 0;
}

.design-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 60px;

    border-top: 1px solid #151314;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;

    overflow: hidden;
}

.design-btn > span {
    transform: translateY(100%);
}

.design-btn > button {
    transform: translateY(10px);
    opacity: 0;
}

.design-btn > button:nth-of-type(1) {
    width: 35px;
    height: 100%;
    text-indent: -9999px;
    background: url('../img/arrow-left.svg') no-repeat;
    background-position: center;
} 
 
.design-btn > button:nth-of-type(2) {
    width: 35px;
    height: 100%;
    text-indent: -9999px;
    background: url('../img/arrow-right.svg') no-repeat;
    background-position: center;
} 
 
/* page02 움직임 */
.active > .design-container > h2 > span {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

.active > .design-container > h2::before, .active > .design-container > h2::after {
    transform: scale(1);
    transition: all .4s ease-in-out;
}


.active .design > ul > li > a > img {
    transform: translateY(0);
    opacity: 1;
    transition: all .3s ease-in-out;
}

.active .design-btn > span {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

.active .design-btn > button {
    transform: translateY(0);
    opacity: 1;
    transition: all .3s ease-in-out .4s;
}


/* page03 */
#page03, 
.web-container, 
.web-container > div, 
.img-container, 
.cont-tit > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-container {
    position: relative;
    flex-direction: column;
    row-gap: 40px;
}

.web-container::before { top: 180px; }

.web-container::after { 
    bottom: 65px; 
    z-index: -1;
}

.web-container::before, .web-container::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #151314;
}

.web-container > div {
    column-gap: 50px;
    position: relative;
    left: 500px;
    overflow: hidden;
}

.cont-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 150px;
    width: 370px;
}

.cont-tit {
    overflow: hidden;
}

.cont-tit > ul {
    width: 300%;
}

.cont-tit > ul > li {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cont-tit > ul > li > h3 {
    font-size: 44px;
    line-height: 130%;
    overflow: hidden;
}

.cont-tit > ul > li > h3 > span {
    transform: translateY(100%);
}

.cont-tit > ul > li > a > span {
    display: inline-block;
    border-bottom: 1px solid #908f8f;
    font-size: 16px;
    transform: translateY(100%);
}

.progress-box, .pagination, .web-btn {
    display: flex;
    align-items: center;
}

.progress-box {
    column-gap: 20px;
    width: 100%;
    height: 35px;
    overflow: hidden;
    transform: translateX(-100%);
}

.autoplay {
    background-color: #b2b2b2;
    width: 100%;
    height: 2px;
    position: relative;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    display: block;
    background-color: #151314;
}

.fill.animation {animation: move 5s ease-in-out ;}

@keyframes move {
    0%{
        width: 0;
    }
    
    100% {
        width: 100%;
    }
    
}

.pagination {
    column-gap: 3px;
    height: 100%;
}

.current {
    font-weight: 700;
}

.web-btn {
    width: 100%;
    height: 35px;
    margin-left: 30px;
}

.web-btn > button:nth-child(1) {
    background: url(../img/arrow-left.svg) no-repeat;
    width: 35px;
    height: 100%;
    text-indent: -9999px;
    background-position: center;

}
.web-btn > button:nth-child(2) {
    background-image: url(../img/stop.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 100%;
    text-indent: -9999px;
    background-position: center;

}
.web-btn > button:nth-child(3) {
    background: url(../img/arrow-right.svg) no-repeat;
    width: 35px;
    height: 100%;
    text-indent: -9999px;
    background-position: center;

}

.img-wrap {
    overflow: hidden;
    width: 1390px;
}

.img-container {
    width: 2085px;
}

.img-container > div {
    width: 695px;
    padding-right: 20px;
}

.img-container > div > a > img {
    width: 695px;
    height: 525px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    box-shadow: 11px 10px 29px rgba(0, 0, 0, 0.1);

    transform: translateY(50px);
    opacity: 0;
}

/* 움직임 */
.active .cont-tit > ul > li > h3 > span {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

.active .cont-tit > ul > li > a > span {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

.active .progress-box {
    transform: translateX(0);
    transition: all .3s ease-in-out;

}
.active .img-container > div > a > img {
    transform: translateX(0);
    transition: all .3s ease-in-out;
    opacity: 1;
}


/* page04 */
#page04 > div {
    margin-top: 100px;
    height: calc(100vh - 350px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.contant {
    display: flex;
    align-items: center;
    gap: 40px;

}

.contant > img {
    transform: translateY(40px);
    opacity: 0;
}
.contant > div {
    margin-bottom: 20px;
}

.contant > div > div {
    margin-bottom: 40px;
    padding: 10px 8px 0 0;
    font-size: 40px;
    line-height: 40px;
    position: relative;
    overflow: hidden;
}

.contant > div > div > span {
    transform: translateY(100%);
}
.contant > div > div > span > p {
    display: inline-block;
    font-size: 25px;
}

.contant > div > ul > li {
    overflow: hidden;
    font-size: 30px;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.contant > div > ul > li:first-child { margin-top: 0; }

.contant > div > ul > li > img {
    opacity: 0;
    transform: translateY(40px);
}
.contant > div > ul > li > span {
    transform: translateY(100%);
}

footer {
    overflow: hidden;
}
footer > div {
    height: 250px;
    font-size: 130px;
    font-family: 'Cafe24ClassicType-Regular', 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
    text-align: center;
    border-top: 1px solid #151314;
    transform: translateY(100%);
    line-height: 250px;
}

/* 움직임 */
.active > div > h2::before, .active div > h2::after {
    transform: scale(1);
    transition: all .4s ease-in-out;
}

.active > div > h2 > span {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

.active .contant img {
    opacity: 1;
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

.active .contant span {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

.active > footer > div {
    transform: translateY(0);
    transition: all .3s ease-in-out;
    transition-delay: 0.3s;

}